<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base_template :: head"></head>
<body>
<script type="text/javascript" th:src="@{/js/location.js}"></script>
<h1 id="current_location"></h1>
<div>
  <form id="show_my_cars">
    <button class="myButton" >my cars</button>
  </form>
</div>
<div>
  <form th:action="@{/index}" method="get">
    <button class="myButton" >back</button>
  </form>
</div>
<div class="row text-center">
  <div class="col-md-3 col-sm-6 hero-feature" th:each="location:${locationList}">
    <div class="thumbnail">
      <div class="caption">
        <h3 th:text="${location.address}"></h3>
        <h4 th:text="${location.id}"></h4>
        <form th:id="'choose_location_' + ${location.id}">
          <button class="myButton">Choose location for giving back</button>
        </form>
        <form th:id="'get_car_list_' + ${location.id}">
          <button class="myButton">Show cars</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div></div>
<div id="car_list">

</div>
<div id="kek">

</div>


</body>
</html>