<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base_template :: head"></head>
</head>
<body>
<h1>QQQQQQ</h1>

<div class="row text-center">
  <div class="col-md-3 col-sm-6 hero-feature" th:each="location:${locationList}">
    <div class="thumbnail">
      <div class="caption">
        <h3 th:text="${location.address}"></h3>
        <form th:action="@{/car_hiring/car}" method="post">
          <button class="myButton">Hire</button>
        </form>
        <!--<p th:text="${car.status}"></p>-->
        <!--<p th:text="${p.carPrice}+ ' EUR / day'"></p>-->

      </div>
    </div>
  </div>
</div>

</body>
</html>