<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base_template :: head"></head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1>Registration</h1>

      <form th:action="@{/registration}" th:object="${userEntity}" method="post">
        <div class="form-group">

          <div class="form-group"
               th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
            <label for="firstName" class="control-label">First name</label>
            <input id="firstName"
                   class="form-control"
                   th:field="*{firstName}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
          </div>

          <div class="form-group"
               th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
            <label for="lastName" class="control-label">Last name</label>
            <input id="lastName"
                   class="form-control"
                   th:field="*{lastName}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
          </div>

          <div class="form-group"
               th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
            <label for="password" class="control-label">Password</label>
            <input id="password"
                   class="form-control"
                   type="password"
                   th:field="*{password}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
          </div>

          <div class="form-group"
               th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
            <label for="confirmPassword" class="control-label">Confirm password</label>
            <input id="confirmPassword"
                   class="form-control"
                   type="password"
                   th:field="*{confirmPassword}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('confirmPassword')}"
               th:text="${error}">Validation error</p>
          </div>

          <button type="submit" class="btn btn-success">Register</button>
          <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
        </div>
      </form>


    </div>
  </div>
</div>

</body>
</html>